/* General styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f06, #ffb);
    margin: 0;
}
span{
    color: red;
}
hr{
    margin-top: 30px;
    width: 95%;
}

.input-container {
    background-color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
}
#adm-Msg{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: red;
}

h1 {
    font-size: 30px;
    font-family: playfair display;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

input[type="email"],
input[type="password"]{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-top: 18px; /* Adjusted for label space */
}

input[type="email"]:hover,
input[type="password"]:hover{
    border-color: #295F98;
}

input[type="email"]:focus,
input[type="password"]:focus{
    border-color: #295F98;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    background-color: #fff; /* Matches the form background */
    padding: 0 5px;
}

input[type="email"]:focus + label,
input[type="email"]:valid + label,
input[type="password"]:focus + label,
input[type="password"]:valid + label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #295F98;
    transform: translateY(-50%);
}

button {
    width: 95%;
    padding: 10px;
    background-color: #295F98;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #295F98;
}
